<a href="/">
  <i class="fa-fa-home"></i>
</a>
<a class="back" href="/">Go Back</a>

<h1 class="today">{{message}}</h1>
<h2 class="moviesTitle">{{movie}}</h2>

<div class="moviefilt">
<div class="filter"><p>Comedy</p></div>
<div class="filter"><p>Animated</p></div>
<div class="filter"><p>Family</p></div>
</div>

<div class="heading">
<ul>
  {{#each movieData}}
    <li>
      <h4>{{movie_title}} ({{movie_year}})</h4>
      <p>Rating: {{movie_rating}}</p>
      <img id=movImages src="images/{{movie_thumbnail}}" alt="{{movie_title}}">
      <p>{{movie_desc}}</p>
      <p>Share On:</p>
    <a href="{{music_facebook}}">Facebook</a>
    <a href="{{music_twitter}}">Twitter</a>
    <a href="{{music_insta}}">Instagram</a>
    </li>
  {{/each}}
</ul>
</div>

<h2 class="musicTitle">{{music}}</h2>

<div class="moviefilt">
<div class="filter"><p>1950's</p></div>
<div class="filter"><p>1960's</p></div>
<div class="filter"><p>1970's</p></div>
</div>

<div class="heading">
<ul>
{{#each musicData}}
<li>
    <h4>{{music_title}} ({{music_year}})</h4>
    <p>Rating: {{music_rating}}</p>
  <img id=musicImages src="images/{{music_thumbnail}}" alt="{{music_title}}">
  <audio controls src="music/{{music_play}}" type="music/mp3"></audio>
  <p>{{music_desc}}</p>
    <p>Share On:</p>
  <a href="{{music_facebook}}">Facebook</a>
  <a href="{{music_twitter}}">Twitter</a>
  <a href="{{music_insta}}">Instagram</a>
</li>
{{/each}}
</ul>
</div>
