<a href="/">
  <i class="fa-fa-home"></i>
</a>

<a class="back" href="/">Go Back</a>

<h1 class="today">{{message}}</h1>
<h2 class="moviesTitle">{{movie}}</h2>

<div class="moviefilt">
<div class="filter"><img src="images/comedyKids.png" alt="Comedy Icon"></div>
<div class="filter"><img src="images/adventureKid.png" alt="adventure Icon"></div>
<div class="filter"><img src="images/eduKids.png" alt="education Icon"></div>
</div>

<div class="heading">
<ul>
  {{#each movieData}}
    <li>
      <h4>{{kids_title}} ({{kids_year}})</h4>
      <p>Rating: {{kids_rating}}</p>
      <img id=movImages src="images/{{kids_thumbnail}}" alt="{{kids_title}}">
      <p>{{kids_desc}}</p>
        <p>Share On:</p>
      <a href="{{kids_facebook}}">Facebook</a>
      <a href="{{kids_twitter}}">Twitter</a>
      <a href="{{kids_insta}}">Instagram</a>
    </li>
  {{/each}}
</ul>
</div>

<h2 class="musicTitle">{{music}}</h2>

<div class="moviefilt">
<div class="filter"><p>Pop</p></div>
<div class="filter"><p>Rap</p></div>
<div class="filter"><p>Rock</p></div>
</div>

<div class="heading">
<ul>
{{#each musicData}}
<li>
    <h4>{{kidsmusic_title}} ({{kidsmusic_year}})</h4>
      <p>Rating: {{kidsmusic_rating}}</p>
  <img id=musicImages src="images/{{kidsmusic_thumbnail}}" alt="{{kidsmusic_title}}">
    <audio controls src="music/{{kidsmusic_play}}" type="music/mp3"></audio>
  <p>{{kidsmusic_desc}}</p>
  <p>Share On:</p>
  <a href="{{kidsmusic_facebook}}">Facebook</a>
  <a href="{{kidsmusic_twitter}}">Twitter</a>
  <a href="{{kidsmusic_insta}}">Instagram</a>
</li>

{{/each}}
</ul>
</div>
