<div class="kidbg">
<a href="/">
  <i class="fa-fa-home"></i>
</a>

<a class="back" href="/">Go Back</a>

<h1 class="today">{{message}}</h1>
<h2 class="moviesTitle">{{movie}}</h2>

<div class="moviefilt">
<div class="filter"><img src="images/comedyKids.png" alt="Comedy Icon"></div>
<div class="filter"><img src="images/adventureKid.png" alt="adventure Icon"></div>
<div class="filter"><img src="images/eduKids.png" alt="education Icon"></div>
</div>

<div class="heading">
<ul>
  {{#each movieData}}
    <li>
      <h4>{{kids_title}} </h4>
      <h4>({{kids_year}})</h4>
      <p>Rating: {{kids_rating}}</p>
        <a href="/watch/{{kids_id}}" id="{{kids_id}}"><img id=movImages src="images/{{kids_thumbnail}}" alt="{{kids_title}}"></a>

  {{/each}}
</ul>
</div>

<h2 class="musicTitle">{{music}}</h2>

<div class="moviefilt">
<div class="filter"><p>Pop</p></div>
<div class="filter"><p>Rap</p></div>
<div class="filter"><p>Rock</p></div>
</div>

<div class="heading">
<ul>
{{#each musicData}}
<li>
    <h4>{{kidsmusic_title}}</h4>
    <h4>({{kidsmusic_year}})</h4>
      <p>Rating: {{kidsmusic_rating}}</p>
      <a href="/kidMusic/{{kidsmusic_id}}" id="{{kidsmusic_id}}"><img id=musicImages src="images/{{kidsmusic_thumbnail}}" alt="{{kidsmusic_title}}"></a>

</li>

{{/each}}
</ul>
</div>
</div>
