

  <a class="backButt" href="/kids">Go Back</a>
    <video class="videoPlayer" controls poster="../images/{{kidmovieData.kids_thumbnail}}" src="../videos/{{kidmovieData.kids_trailer}}" type="videos/mp4"></video>
    <h1 class="name"> {{kidmovieData.kids_title}}</h1>
      <p class="desc">{{kidmovieData.kids_desc}}</p>



    <!-- reviews go here -->
  <article class="comments" v-if="reviews.length > 0">
    <div v-for="review in reviews">
      <!-- temporary vue component -->
        <review-stars :value="review.comments_rating" :disabled="true"></review-stars>
      <!-- end component -->
      <i class="post-date">${ review.comments_date }</i>
      <p>
        ${ review.comments_copy }
      </p>
    </div>
  </article>

  <!-- aside => add our own reviews -->
  <aside class="add-comment" :class="{ floatRight : reviews.length > 0 }">
    <h4 class="review-heading">Add a Review</h4>
    <span class="hidden movId">{{ movie }}</span>
    <review-stars v-model="numStars" :disabled="false"></review-stars>
    <textarea name="review" id="review" placeholder="What did you think?" v-model="review"></textarea>
    <input type="submit" value="Submit your review!" v-on:click="addReview">
  </aside>


  <div class="links">
  <a href="{{kidmovieData.kids_fb}}">Facebook</a>
  <a href="{{kidmovieData.kids_twitter}}">Twitter</a>
  <a href="{{kidmovieData.kids_insta}}">Instagram</a>
</div>
</section>
