<a class="backButt" href="/kids">Go Back</a>

<audio controls src="../music/{{kidmusicData.kidsmusic_play}}" type="music/mp3"></audio>
  <h1 class="name"> {{kidmusicData.kidsmusic_title}}</h1>
    <p class="desc">{{kidmusicData.kidsmusic_desc}}</p>

    <div class="links">
    <a href="{{kidmusicData.kidsmusic_fb}}">Facebook</a>
    <a href="{{kidmusicData.kidsmusic_twitter}}">Twitter</a>
    <a href="{{kidmusicData.kidsmusic_insta}}">Instagram</a>
  </div>

  <form>
    <p class="desc">Leave a Comment</p>
    <textarea id="comment" name="subject" placeholder="Write something.." ></textarea>
    <input class="buttons" type="submit" value="Submit">
  </form>
