<a class="backButt" href="/parents">Go Back</a>

<audio controls src="../music/{{musicData.music_play}}" type="music/mp3"></audio>
  <h1 class="name"> {{musicData.music_title}}</h1>
    <p class="desc">{{musicData.music_desc}}</p>

    <div class="links">
    <a href="{{musicData.music_fb}}">Facebook</a>
    <a href="{{musicData.music_twitter}}">Twitter</a>
    <a href="{{musicData.music_insta}}">Instagram</a>
  </div>

  <form>
    <p class="desc">Leave a Comment</p>
    <textarea id="comment" name="subject" placeholder="Write something.." ></textarea>
    <input class="buttons" type="submit" value="Submit">
  </form>
